* @cognitedata/cdf-user-experience @peternic @jarlah @bdimitrijoski @andersfylling @ebrattli
/packages/core/ @cognitedata/grep
/packages/playground/ @cognitedata/grep
/packages/wells/ @cognitedata/subsurface-data
