* @cognitedata/cdf-user-experience @BugGambit

/packages/stable/src/api/documents @cognitedata/matchmakers
/packages/stable/src/__tests__/api/documents* @cognitedata/matchmakers
/packages/stable/src/api/units @cognitedata/simulator-integration
/packages/stable/src/__tests__/api/*units* @cognitedata/simulator-integration

/packages/stable/src/api/vision @cognitedata/vision-team

/packages/codegen @andersfylling
