name: CI

on:
 pull_request:
    branches:
      - master
      - release-*

jobs:
  install-dependencies:
    runs-on: ubuntu-latest
    env:
      COGNITE_PROJECT: cognitesdk-js
      COGNITE_CREDENTIALS: ${{secrets.COGNITE_CREDENTIALS}}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

  codecov:
    runs-on: ubuntu-latest
    needs: [install-dependencies]

    env:
      COGNITE_PROJECT: cognitesdk-js
      COGNITE_CREDENTIALS: ${{secrets.COGNITE_CREDENTIALS}}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      # - name: Test/Codecov
      #   run: yarn test:codecov

      - name: Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  snippets:
    runs-on: ubuntu-latest
    needs: [install-dependencies]

    env:
      COGNITE_PROJECT: cognitesdk-js
      COGNITE_CREDENTIALS: ${{secrets.COGNITE_CREDENTIALS}}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Test snippets
        run: yarn test-snippets

  samples:
    runs-on: ubuntu-latest
    needs: [install-dependencies]

    env:
      COGNITE_PROJECT: cognitesdk-js
      COGNITE_CREDENTIALS: ${{secrets.COGNITE_CREDENTIALS}}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      # - name: Test samples
      #   run: yarn test-samples

  lint:
    runs-on: ubuntu-latest
    needs: [install-dependencies]

    env:
      COGNITE_PROJECT: cognitesdk-js
      COGNITE_CREDENTIALS: ${{secrets.COGNITE_CREDENTIALS}}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: validateDocLinks
        run: yarn validateDocLinks

      - name: Lint
        run: yarn lint

      - name: Build
        run: yarn build

  tests:

    runs-on: ubuntu-latest
    needs: [install-dependencies]

    strategy:
      matrix:
        node-version: [14, 16]

    env:
      COGNITE_PROJECT: platypus
      COGNITE_BASE_URL: https://greenfield.cognitedata.com
      COGNITE_CREDENTIALS: ${{ secrets.COGNITE_CREDENTIALS }}
      COGNITE_CLIENT_SECRET: ${{ secrets.COGNITE_CLIENT_SECRET }}
      COGNITE_CLIENT_ID: ${{ secrets.COGNITE_CLIENT_ID }}
      COGNITE_AZURE_TENANT_ID: ${{ secrets.COGNITE_AZURE_TENANT_ID }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache dependencies
        id: cache-dependencies
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('yarn.lock') }}
      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test --since origin/master
